<div class="row">
    <div class="col-lg-12">
        <div class="input-group search-group">
            <input type="text" class="form-control" placeholder="Search for jobs...">
            <span class="input-group-btn">
        		<button class="btn btn-primary" type="button" ng-click="searchJobs(keywords)">Go!</button>
      		</span>
      	</div>
    </div>
</div>
    <div class="container" ng-repeat="job in jobs">
        <ul class="job-listing">
            <li ng-bind="job.organization_name">Company</li>
            <li ng-bind="job.position_title">Job Title</li>
            <li ng-bind="">Description</li>
            <li ng-bind="">Salary</li>
        </ul>
    </div>
