<div class="row">
    <div class="col-lg-12">
    	<div class="jumbotron">
		 	<h1 class="jumboTitle">Your Personal Career Finder</h1>
		 	<p>Discover what jobs are hiring today!</p>
		 	<div class="input-group search-group">
            	<input type="text" class="form-control" placeholder="Search for jobs...">
            	<span class="input-group-btn">
        			<button class="btn btn-primary" type="button" ng-click="searchJobs(keywords)">Go!</button>
      			</span>
      	</div>
		</div>
    </div>
</div>
    <div class="container search-results" ng-repeat="job in jobs">
        <ul class="job-listing">
            <li ng-bind="job.organization_name">Company</li>
            <li ng-bind="job.position_title">Job Title</li>
        </ul>
    </div>
